<%#<h1>Sample App</h1%>

<p><%= @user.family_name %> <%= @user.first_name %>様！</p>

<p>［サイト名］をご利用いただき、ありがとうございます！</p>
<p>以下のリンクにアクセスしてアカウント認証を行ってください。</p>

<%# ユーザーがメールのリンクをクリック後、ユーザーをメールアドレスで検索して
    有効化トークンを認証できるようにするために、リンクにはメールアドレスとトークンを両方含めておく %>
<%= link_to "メール認証をする", edit_account_activation_url(@user.activation_token, email: @user.email) %>