<input id="color-list" type="color" value="#aab1ff" list="colors">

<datalist id="colors">
　<option value="#776dff"></option>
　<option value="#ff7555"></option>
　<option value="#ff67c5"></option>
</datalist>