<html>
<head>
  <meta charset="UTF-8">
  <title>resize</title>
</head>
<body>
  <div>
    横（px）：<span id="width"></span>
    縦（px）：<span id="height"> Viewport</span>
  </div>
  <script type="text/javascript">
    $(function(){
      $(window).resize(function() {
        $("#height").html($(window).height());
        $("#width").html($(window).width());
      });
    });
  </script>



  <ul class="stable1" id="stable1">
    <li><button type="button">ボタン１</button></li>
    <li><button type="button">ボタン２</button></li>
  </ul>

  <table class="stable2" id="stable2">
    <thead>
      <tr><th>項目１</th><th>項目２</th></tr>
    </thead>
    <tbody>
      <tr><td>値１</td><td>値２</td><tr>
    </tbody>
  </table>

  <!-- サイズが動的な要素 -->
  <div class="active" id="active">
    <%= image_tag "staff_01.jpg", class: 'active' %>
  </div>

  <script src="example.js"></script>
  
  
  <!--textContentプロパティ 要素のテキスト内容の設定
  　➡︎ bタグの中身はテキストとして設定されるため、単なる文字列としてで表示される-->
  <p id="test1"></p>
  <script>
    var elem1 = document.getElementById('test1');

    elem1.textContent = 'Hello <b>World</b>!'
  </script>
  
  <!--innerHTMLプロパティ 要素のテキスト内容の設定
  　➡︎ bタグの中身はHTMLとして設定されるため、大文字で表示される-->
  <p id="test2"></p>
  <script>
    var elem2 = document.getElementById('test2');

    elem2.innerHTML = 'Hello <b>World</b>!'
  </script>

  <!--innerHTMLプロパティ 要素の中身を変更-->
  <p id="myid">こんにちは</p>
  <input type="button" value="Click" onclick="myfunc()">
  
  <script>
      var myfunc = function(){
          var myp = document.getElementById("myid");
          myp.innerHTML = "こんばんは！";
          
          myp.style = "color:red;font-size:48px;";
      }
  </script>
  
  
  <!--onClickプロパティとの結びつけ
  (getElementByIdで抽出したボタン要素をmybutton変数に格納し、
   その変数のonclickプロパティの値としてyoursfunc関数を設定)-->
  <p>ボタンをクリック！</p>
  <input type="button" id="yoursid" value="Click">
  
  <script>
      var mybutton = document.getElementById("yoursid");
      var yoursfunc = function(){
          mybutton.value = "Hello world!";
      }
      mybutton.onclick = yoursfunc;
  </script>
  
  
</body>
</html>