<body>
  <a id="target" class="syncer arayutw squirrel">SYNCER</a>
  
  <input type="button" value="Click" onclick="myfunc()">
  
  
  <p>ボタンをクリック！</p>
  <input type="button" id="mybutton" value="Check">
  
  
  <form name="myform">
      <input name="sample" type="text">
  </form>
</body>
<script src="test2.js"></script>

<html>
  <head>
    <title>JavaScriptで連動する２つのセレクトメニューを作る</title>
    <script type="text/javascript"></script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <script type="text/javascript">
      var menuItem = {
              1: [
                  {"code": 1, "name": "東京"},
                  {"code": 2, "name": "大阪"},
                  {"code": 3, "name": "名古屋"}
                ]
              ,
              4: [
                  {"code": 5, "name": "ニューヨーク"},
                  {"code": 6, "name": "ワシントン"},
                  {"code": 7, "name": "ロス"}
                ]
              ,
              8: [
                  {"code": 8, "name": "ロンドン"},
                  {"code": 8, "name": "マンチェスター"},
                  {"code": 9, "name": "リヴァプール"}
                ]
              };
      addEvent(window,&#39;load&#39;,init,false);
      function init()
      {
        addEvent(form1.country, &#39;change&#39;, setMenuItem, false);
        setMenuItem();
      }
      function setMenuItem()
      {
        //初期化
        var option_cnt = form1.city.options.length;
        for(var i=0; i<option_cnt; i++)
        {
          form1.city.remove(0);
        }
        var n = country;
        for(var i=0; i<menuItem[n].length; i++)
        {
          form1.city.options[i] = new Option(menuItem[n][i]["name"],menuItem[n][i]["code"]);
        }
      }
    </script>
    <form name="form1" id="form1">
      <select name="country" id="country">
        <option value="1">日本</option>
        <option value="4">アメリカ</option>
        <option value="8">イギリス</option>
      </select>
      <select name="city" id="city">
      </select>
    </form>
  </body>
</html>
