<body>
  <a id="target" class="syncer arayutw squirrel">SYNCER</a>
  
  <input type="button" value="Click" onclick="myfunc()">
  
  
  <p>ボタンをクリック！</p>
  <input type="button" id="mybutton" value="Check">
  
  
  <form name="myform">
      <input name="sample" type="text">
  </form>
</body>
<script src="test2.js"></script>
